<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="~/css/site.css" rel="stylesheet"/>
    <title>Axis cameras viewer</title>
</head>
<body>
<div class="header-container">
    <input type="text" id="camera-url" placeholder="Enter camera URL" />
    <button onclick="addCamera()">Add Camera</button>
</div>
<hr>
<div id="streams">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.0/signalr.min.js"></script>
<script src="~/js/site.js"></script>
</body>
</html>